<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:include="/fragments/default::head(|${board}List|)">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="/fragments/default::header"></div>
	<div th:replace="/fragments/default::jumbo"></div>	
	<div class="container">  
  		<h2 th:text="${board}"></h2>
  		
  		
  		<div class=" d-flex justify-content-start">
			<div class="input-group align-items-center">
				<form id="frm" th:action="@{list}" class="form-inline">
					<input type="hidden" name="curPage" value="1" id="curPage">
					<div class="input-group-prepend">
						<select class="form-control" name="kind" id="kind"
							th:value="${pager.kind}">
							<option class="sel"
								th:selected="${pager.kind}== 'Title'?true:false">Title</option>
							<option class="sel"
								th:selected="${pager.kind}=='Contents'?true:false">Contents</option>
							<option class="sel"
								th:selected="${pager.kind}=='Writer'?true:false">Writer</option>
						</select>
					</div>
					<input type="text" class="form-control" name="search" id="search"
						th:value="${pager.search}" placeholder="">
					<div class="input-group-append">
						<button class="btn btn-success" type="submit">Search</button>
					</div>
				</form>
			</div>
		</div>
  		
  		
  		<table class="table">
			<thead class="thead-dark">
			    <tr>
					<th scope="col">Num</th>
					<th scope="col">Title</th>
					<th scope="col">Writer</th>
					<th scope="col">Date</th>
					<th scope="col">Hit</th>
					<th scope="col">Index</th><!-- 상태번호,,? 뭔소리지,,! -->
					<th scope="col">Count</th>
					<th scope="col">Size</th>
					<!-- <th scope="col">Current</th> -->
					<th scope="col">Even</th>
					<th scope="col">Odd</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:each="vo, state : ${list}" ><!-- state 상태번호 -->
					<th scope="row" th:text="${vo.num}"></th>
					<!--th:text가 내부에 덮어씌우는거라서 
						a태그 내부에 써야 링크가 제대로 써짐 그 외의 장소에 쓰면 ㄴ쓸모
						파라미터 연결은 이렇게 한다 @{select(num=${vo.num}, title='test')-->
					<td ><a th:href="@{select(num=${vo.num})}"th:text="${vo.title}"></a></td>
					<td th:text="${vo.writer}"></td>
					<td th:text="${vo.regDate}"></td>
					<td th:text="${vo.hit}"></td>
					<td th:text="${state.index}"></td><!-- 인덱스번호 0붙터 시작 -->
					<td th:text="${state.count}"></td><!-- 1부터 시작 -->
					<td th:text="${state.size}"></td><!-- 총갯수 -->
					<!-- <td th:text="${state.current}"></td>현재요소 -->
					<td th:text="${state.even}"></td><!-- 현재 반복요소가 짝수인가 -->
					<td th:text="${state.odd}"></td><!-- 현재 반복요소가 홀수인가 -->
					<td th:text="${state.first}"></td><!-- 현재 반복요소가 첫번쨰냐 -->
					<td th:text="${state.last}"></td><!-- 현재 반복요소가 마지막번쨰냐 -->
				</tr>
			</tbody>
		</table>
		
		<a href="#" th:href="@{./fileDown}" class="btn btn-outline-warning" >fileDown</a>
		<a href="#" th:href="@{./insert}" class="btn btn-outline-warning" >Write</a>
  	</div>
  	<div class="container d-flex justify-content-center">
		  <ul class="pagination">
		    <li class="page-item" >
		    	<a th:if="${pager.pre}" class="page-link pager" th:title="${pager.startNum-1}">Previous</a>
		    	<span th:unless="${pager.pre}" class="page-link">Previous</span>
		    </li>
		    <!-- 유틸리티 쓸때 #으로 구분 sequence가 startNum부터 순서대로 1씩 증가해서 i에 넣고 lastNum까지 동작-->
		    <li class="page-item" th:each="i : ${#numbers.sequence(pager.startNum, pager.lastNum)}">
		    	<a class="page-link pager" th:title="${i}" th:text="${i}"></a>
		    </li>
		    <li class="page-item">
		    	<a th:if="${pager.next}" class="page-link pager" href="#" th:title="${pager.lastNum+1}">Next</a>
		    	<span th:unless="${pager.next}" class="page-link">Next</span>
		    </li>
		  </ul>
	</div>
  	<footer th:replace="/fragments/default::footer"></footer>
  	
  <script type="text/javascript" th:src="@{-=/js/boardSearch.js}"></script>
  	
  	
</body>
</html>