<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head('Member Join')">
<meta charset="UTF-8">
<title>Member Join</title>
</head>
<body>
	<!-- header -->
	<div th:replace="/fragments/default::header"></div>
	<!-- jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>	
	<!-- /member/memberJoin -->
	<!-- com...member.MemberController.setJoin -->
	<div class="container">
		<h1>MemberJoin Page</h1>
	<!-- FORM -->
		<form th:action="@{join}" method="post" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="exampleInputPassword1">UserName</label>
		    <input type="text" class="form-control" id="userName" name="userName">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" id="password" name="password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Name</label>
		    <input type="text" class="form-control" id="name" name="name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" aria-describedby="emailHelp" id="email" name="email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Phone</label>
		    <input type="text" class="form-control" id="phone" name="phone">
		  </div>
		<!-- 파일 업로드 -->
		  <div>
		    <input type="file"name="file">
		  </div>
		
		  <button class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	
	
	<!-- footer -->
	<div th:replace="/fragments/default::footer"></div>
</body>
</html>