<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
 <head th:include="/fragments/default::head('Home')">
    <meta charset="utf-8">
    <title>Hello, world!</title>
  </head>
  <body>
  	<div th:replace="/fragments/default::header"></div>
	<div th:replace="/fragments/default::jumbo"></div>	
  	<h1 th:text="#{hello}">메세지의 값을 꺼내올때 #{키}</h1>
  	<h1 th:text="#{user.welcome(${user},${msg})}"></h1>
  		<h1 th:text="|User: ${session.member}|"></h1>
  	<footer th:replace="/fragments/default::footer">
  	
  	</footer>
  </body>
</html>