<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.example.demo.member.MemberMapper">
    	<insert id="setJoin" parameterType="MemberVO">
    		INSERT INTO member VALUES(#{userName}, #{password}, #{name}, #{email}, #{phone})
    	</insert>
    	<insert id="setMemberFile" parameterType="MemberFileVO">
    		INSERT INTO memberfile VALUES(NULL,#{userName},#{fileName},#{oriName})
    	</insert>
    	<select id="getLogin" parameterType="MemberVO" resultType="MemberVO">
    		SELECT * FROM member WHERE userName=#{userName} AND PASSWORD=#{password}
    	</select>
    	<select id="getMyPage" parameterType="MemberVO" resultMap="Result">
    		SELECT M.*, MF.* 
    		FROM member M LEFT JOIN memberFile MF 
    		ON M.userName=MF.userName WHERE M.userName=#{userName}
    	</select>
    	<resultMap type="MemberVO" id="Result">
    		<id column="userName" property="userName"/>
    		<result column="password" property="password"/>
    		<result column="name" property="name"/>
    		<result column="email" property="emil"/>
    		<result column="phone" property="phone"/>
    		<collection property="file" javaType="java.util.List">
    			<id column="fileNum" property="fileNum"/>
    			<result column="userName" property="userName"/>
    			<result column="fileName" property="fileName"/>
    			<result column="oriName" property="oriName"/>
    		</collection>
    	</resultMap>
    
    </mapper>